.keyboard {
  width: 100%;
  height: 100%;
}

.keyboard .key {
  stroke: black;
  stroke-width: 1;
}

.keyboard .key.black {
  fill: black;
}

.keyboard .key.white {
  fill: white;
}

.keyboard .key.held.black, .keyboard .key.held.white {
  fill: #F48AF4;
}
