<svg preserveAspectRatio="xMinYMin"
     [attr.viewBox]="viewModel.viewBox"
     class="keyboard"
     (appTouch)="onTouchEvent($event)"
     (mouseup)="onMouseUp()"
     (mouseleave)="onMouseOut()">
  <rect *ngFor="let key of viewModel.keys; let i = index;"
        class="key"
        [attr.data-keyindex]="i"
        [ngClass]="{black: key.black, white: !key.black, held: key.held}"
        (mouseover)="onMouseOver(i)"
        (mousedown)="onMouseDown(i)"
        [attr.x]="key.x"
        [attr.y]="key.y"
        [attr.width]="key.width"
        [attr.height]="key.height">
  </rect>
</svg>
