<svg class="keyboard"
     preserveAspectRatio="xMidYMid"
     [attr.viewBox]="viewBox"
     appTouchRoot>
  <svg [attr.viewBox]="viewBox">
    <g attr.transform="translate({{ layout.keyStrokeWidth / 2 }}, {{ layout.dragBarStrokeWidth / 2 }})">
      <svg:g app-dragbar
             attr.transform="translate({{ -layout.dragBarStrokeWidth / 2 }}, 0)"
             [width]="layout.dragBarWidth"
             [height]="layout.dragBarHeight"
             [strokeWidth]="layout.dragBarStrokeWidth">
      </g>
      <svg:g app-keys
             attr.transform="translate(0, {{ layout.dragBarHeight + layout.keyBoardPadding }})"
             [minikeys]="minikeys"
             [scrollPosition]="scrollPosition"
             [scrollActive]="scrollActive">
      </g>
      <svg:g app-dragbar
             attr.transform="translate({{ -layout.dragBarStrokeWidth / 2 }}, {{ layout.dragBarHeight + layout.keyBoardPadding * 2 + layout.whiteKeyHeight(minikeys) }})"
             [width]="layout.dragBarWidth"
             [height]="layout.dragBarHeight"
             [strokeWidth]="layout.dragBarStrokeWidth">
      </g>
    </g>
  </svg>
</svg>
