.keyboard {
  width: 100%;
  height: 100%;
}

.key {
  stroke: black;
  stroke-width: 1;
}

.key.black {
  fill: black;
}

.key.white {
  fill: white;
}

.key.held.black, .key.held.white {
  fill: #F48AF4;
}

.key-labels .key-label.black {
  fill: none;
}

.key-labels .key-label.white {
  fill: none;
}

.key-labels.scrolling .key-label.white {
  fill: black;
}
