.keyboard {
  display: block;
  white-space: nowrap;
}

.keyboard .key {
  display: inline-block;
  border-style: solid;
}

.keyboard .key.black {
  background-color: black;
  border-color: black;
  position: absolute;
}

.keyboard .key.white {
  background-color: white;
  border-color: black;
}

.keyboard .key.held.black, .keyboard .key.held.white {
  background-color: #F48AF4;
}
