<h2>{{ deviceName }}</h2>

<mat-form-field>
  <mat-select (selectionChange)="onDeviceSelected(view.selectedDeviceId)" [(value)]="view.selectedDeviceId" placeholder="Select Output Device">
    <mat-option *ngFor="let device of view.deviceList" [value]="device.id">
      {{ device.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<app-keyboard
  [keyRange]="view.midiKeyRange1"
  (keyEvent)="onKeyEvent($event)"
></app-keyboard>
<app-keyboard
  [keyRange]="view.midiKeyRange2"
  (keyEvent)="onKeyEvent($event)"
></app-keyboard>
