app-keyboard {
  display: block;
}

mat-toolbar .fill-space {
  flex-grow: 1;
}

mat-toolbar button {
  margin-left: 2px;
  margin-right: 2px;
}

mat-toolbar mat-slider {
  margin-left: 4px;
  margin-right: 4px;
}
