<app-toolbar class="menu-content"
             [deviceList]="deviceList"
             [selectedDeviceId]="selectedDeviceId"
             (selectedDeviceIdChange)="selectDevice($event)"
             (sideNavToggle)="onSideNavToggled()">
</app-toolbar>

<mat-sidenav-container class="content-host main-content">
  <mat-sidenav #sidenav
               mode="side"
               position="end"
               opened>
    <app-sidenav>
    </app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="content-host main-content">
    <app-keyboard class="main-content"
                  [numVisibleKeys]="controls.numVisibleKeys">
    </app-keyboard>
    <app-keyboard class="main-content"
                  [numVisibleKeys]="controls.numVisibleKeys">
    </app-keyboard>
  </mat-sidenav-content>
</mat-sidenav-container>
