<svg:g class="keys"
       attr.transform="translate({{ scrollPosition }}, 0)">
  <svg:g>
    <svg:rect *ngFor="let key of keys; let i = index;"
              class="key"
              [ngClass]="{black: key.black, white: !key.black, held: key.held}"
              [attr.stroke-width]="key.strokeWidth"
              [attr.x]="key.x"
              [attr.y]="key.y"
              [attr.width]="key.width"
              [attr.height]="key.height"
              appTouchId="{{ touchElemId }}:{{ i }}">
    </rect>
  </g>
  <svg:g class="key-labels" [ngClass]="{scrolling: scrollActive}">
    <svg:text *ngFor="let key of keys; let i = index;"
              class="key-label"
              [ngClass]="{black: key.black, white: !key.black}"
              [attr.x]="key.x"
              [attr.y]="key.y"
              [attr.dx]="key.width / 2"
              [attr.dy]="key.height - labelFontSize * 2"
              [attr.font-size]="labelFontSize"
              text-anchor="middle"
              appTouchId="{{ touchElemId }}:{{ i }}">
      {{ key.label }}
    </text>
  </g>
</g>
