@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  touch-action: none;
  user-select: none;
  margin: 0;
  background: #333;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

